/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.May.2020, 22:20:37
    Author     : 90549
*/

#atv-form{

    background-repeat: no-repeat;
    background-size: cover;
}


#atv-form .card{
    width: 270px;
    height:500px;
    background-color: #AB7044   ;
    border:none;
    

}
#atv-form .card:hover{
    width:275px;
    height: 510px;
}

#atv-form .view{
    margin-bottom:15px;
}

#atv-form .card-body{
    padding-top:  30px;
    background-color:  #B0A587;
    transition: all 0.8s;
}

#atv-form .card-body:hover{
    background-color:#E1E5E9; 
}

#atv-form .card-footer{
    background-color:  #D69902 ;
    width: 270px;
    height: 40px;
}

#atv-form .btn-block{
    background-color: #ECC964 ;
}
#atv-form .mykirala{
    background-color: #1A9CF9  ;
}

