/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.Mar.2020, 13:28:40
    Author     : HP
*/

.navbar{
    border-bottom: #005cbf 2px solid;
}
.nav-link{
    text-transform: uppercase;
    transition: color .5s ease;
}
